<!DOCTYPE html>

<html>

<head>
    <title>TODO supply a title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="vendor/bootstrap/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="vendor/bootstrap/bootstrap-grid.min.css">
    <link rel="stylesheet" href="vendor/bootstrap/bootstrap.min.css">

    <link rel="stylesheet" href="styles/simple-sidebar.css">

    <!-- Leaflet -->
    <link rel="stylesheet" href="vendor/leaflet/leaflet.css">

    <link rel="stylesheet" href="styles/main.css">

</head>

<body>
    <!-- Templates  -->
    <script type="text/html" id="app-sidebar-template">
        <h4 class="text-center">{{title}}</h4>

        <div class="card" v-if="position">
            <ul class="list-group list-group-flush">
                <li class="list-group-item list-group-item-action bg-light">
                    <strong>Device Position</strong>
                </li>
                <li class="list-group-item list-group-item-action bg-light">Latitude: {{position.lat}}</li>
                <li class="list-group-item list-group-item-action bg-light">Longitude: {{position.lon}}</li>
            </ul>
        </div>

        <div class="card" v-if="status">
            <ul class="list-group list-group-flush">
                <li class="list-group-item list-group-item-action bg-light">
                    <strong>Device Status</strong>
                </li>
                <li class="list-group-item list-group-item-action bg-light">Est. remaining time: {{ remainingTimeMinutes }}
                    minutes</li>
                <li class="list-group-item list-group-item-action bg-light">Battery: {{status.batteryPercentage}}%</li>
            </ul>
        </div>
      </script>

    <!-- App Body -->
    <div id="app">
        <div class="d-flex" :class="{toggled: navToggled}" id="wrapper">

            <!-- Sidebar -->
            <div class="bg-light border-right" id="sidebar-wrapper">
                <div class="sidebar-heading">Device Info</div>

                <div class="list-group list-group-flush">
                    <app-sidebar v-bind:title="title" v-bind:position="position" v-bind:status="status">
                    </app-sidebar>
                </div>
            </div>

            <!-- Page Content -->
            <div id="page-content-wrapper">

                <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                    <!-- <button class="btn btn-primary" id="menu-toggle" @click="toggleNavbar">Toggle Menu</button> -->

                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                            <li class="nav-item active">
                                <a class="nav-link" href @click="setModalOpen(true, $event)" data-toggle="modal"
                                    data-target="#exampleModal">About</a>
                            </li>
                        </ul>
                    </div>
                </nav>
                <!-- <div class="container-fluid"> -->
                <app-content></app-content>
                <!-- </div> -->

                <!-- Modal -->
                <div class="modal fade" :class="{'show d-block': showModal}" id="exampleModal" tabindex="-1"
                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">About this Demo</h5>
                                <button type="button" class="close" @click="setModalOpen(false)" data-dismiss="modal"
                                    aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Written by Koby Vurgaft for the Simlat Code Challenge.
                            </div>
                            <div class="modal-footer">
                                <button type="button" @click="setModalOpen(false)" class="btn btn-secondary"
                                    data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Models -->
    <script src="./models/device.js" type="module"></script>
    <script src="./models/device-message.js" type="module"></script>

    <!-- Services -->
    <script src="./services/devices.service.js" type="module"></script>
    <script src="./services/device-messages.service.js" type="module"></script>

    <!-- Leaflet -->
    <script src="vendor/leaflet/leaflet.js"></script>

    <!-- Axios -->
    <script src="vendor/axios/axios.min.js"></script>

    <!-- Vue -->
    <script src="https://unpkg.com/vue@next"></script>

    <script src="./app.js" type="module"></script>

</body>

</html>